/.idea
/composer.lock
/vendor/
/.phpunit.result.cache
/.phpunit.cache
/build/
/packages/*/composer.lock

# Ignore everything in /web/ except the /web/sites/default/settings.php file.
/web/*
!/web/sites/
/web/sites/*
!/web/sites/default/
/web/sites/default/*
!/web/sites/default/settings.php
!/web/sites/default/settings.development.php
