parameters:
  treatPhpDocTypesAsCertain: false
  paths:
    - packages
    - modules
  excludePaths:
    - web
    - vendor
  ignoreErrors:
    # Assume that generic type is 'mixed' if not further specified.
    - identifier: missingType.generics
