{#
/**
 * @file
 * Theme wrapper that wraps child content into a link element.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements for the link.
 * - url: The url.
 * - options: The options for the link.
 *
 * @see template_preprocess_link()
 *
 * @ingroup themeable
 */
#}
{%- set _content %}{{ children }}{% endset -%}
{%- if _content|trim != '' -%}
  <a href="{{ url }}"{{ attributes }}>{{ _content }}</a>
{%- endif -%}
